@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proximaNova/proxima_nova_regular.eot');
    src: url('/fonts/proximaNova/proxima_nova_regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/proximaNova/proxima_nova_regular.woff2') format('woff2'),
        url('/fonts/proximaNova/proxima_nova_regular.woff') format('woff'),
        url('/fonts/proximaNova/proxima_nova_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proximaNova/proxima_nova_bold.eot');
    src: url('/fonts/proximaNova/proxima_nova_bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/proximaNova/proxima_nova_bold.woff2') format('woff2'),
        url('/fonts/proximaNova/proxima_nova_bold.woff') format('woff'),
        url('/fonts/proximaNova/proxima_nova_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proximaNova/proxima_nova_semibold.eot');
    src: url('/fonts/proximaNova/proxima_nova_semibold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/proximaNova/proxima_nova_semibold.woff2') format('woff2'),
        url('/fonts/proximaNova/proxima_nova_semibold.woff') format('woff'),
        url('/fonts/proximaNova/proxima_nova_semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/helvetica/helvetica.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/helvetica/helvetica_bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
